        body {
            font-family: Bai Jamjuree, sans-serif;
            line-height: 1.6;
            margin: 0;
            padding: 20px;
            background-color: #9d0f0d;
        }
	a { color: #dab171 }
	a:hover { color: #ab7143 }

        .container {
            max-width: 900px;
            margin: auto;
            background: #e9d379;
            padding: 20px;
            border-radius: 5px;
            box-shadow: 0 0 10px rgba(0,0,0,0.1);
        }
        h1 {
            color: #9d0f0d;
            text-align: center;
            border-bottom: 2px solid #9d0f0d;
            padding-bottom: 10px;
            margin-bottom: 30px;
        }
        h2 {
            color: #a52a2a;
            border-left: 4px solid #a52a2a;
            padding-left: 10px;
        }
        .menu-section {
            margin-bottom: 20px;
            background-color: #fff;
            padding: 15px;
            border-radius: 5px;
        }
        .menu-item {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 10px;
            border-bottom: 1px dashed #d2b48c;
            padding-bottom: 5px;
        }
        .item-name {
            font-weight: bold;
            color: #8b4513;
            flex: 1;
        }
        .item-prices {
            display: flex;
            justify-content: flex-end;
            flex: 1;
        }
        .price {
            color: #a52a2a;
            width: 70px;
            text-align: center;
        }
        .price-header {
            display: flex;
            justify-content: flex-end;
            margin-bottom: 15px;
            font-weight: bold;
            color: #8b0000;
            border-bottom: 2px solid #8b0000;
            padding-bottom: 5px;
        }
        .price-header span {
            width: 70px;
            text-align: right;
            padding: 0 5px;
        }
        .price-columns {
            display: flex;
            justify-content: flex-end;
            flex: 1;
        }

.bai-jamjuree-extralight {
  font-family: "Bai Jamjuree", sans-serif;
  font-weight: 200;
  font-style: normal;
}

.bai-jamjuree-regular {
  font-family: "Bai Jamjuree", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.bai-jamjuree-semibold {
  font-family: "Bai Jamjuree", sans-serif;
  font-weight: 600;
  font-style: normal;
}
