        body {
            font-family: Bai Jamjuree, sans-serif;
            line-height: 1.6;
            margin: 0;
            padding: 20px;
            background-color: #f5e6d3;
        }
	a { color: #911f27 }
	a:hover { color: #000000 }

        .container {
            max-width: 900px;
            margin: auto;
            background: #fcf0c8;
            padding: 20px;
            border-radius: 5px;
            box-shadow: 0 0 10px rgba(0,0,0,0.1);
        }
        h1 {
            color: #630a10;
            text-align: center;
            border-bottom: 2px solid #630a10;
            padding-bottom: 10px;
            margin-bottom: 30px;
        }
        h2 {
            color: #911f27;
            border-left: 4px solid #911f27;
            padding-left: 10px;
        }
        .menu-section {
            margin-bottom: 20px;
            background-color: #fff;
            padding: 15px;
            border-radius: 5px;
        }
        .menu-item {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 10px;
            border-bottom: 1px dashed #face7f;
            padding-bottom: 5px;
        }
        .item-name {
            font-weight: bold;
            color: #911f27;
            flex: 1;
        }
        .item-prices {
            display: flex;
            justify-content: flex-end;
            flex: 1;
        }
        .price {
            color: #911f27;
            width: 70px;
            text-align: center;
        }
        .price-header {
            display: flex;
            justify-content: flex-end;
            margin-bottom: 15px;
            font-weight: bold;
            color: #911f27;
            border-bottom: 2px solid #911f27;
            padding-bottom: 5px;
        }
        .price-header span {
            width: 70px;
            text-align: right;
            padding: 0 5px;
        }
        .price-columns {
            display: flex;
            justify-content: flex-end;
            flex: 1;
        }

.bai-jamjuree-extralight {
  font-family: "Bai Jamjuree", sans-serif;
  font-weight: 200;
  font-style: normal;
}

.bai-jamjuree-regular {
  font-family: "Bai Jamjuree", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.bai-jamjuree-semibold {
  font-family: "Bai Jamjuree", sans-serif;
  font-weight: 600;
  font-style: normal;
}
